<h1>About DPK Engineering</h1>

<p>David Kelly founded DPK Engineering in 200x after several years of yada yada yada.</p>

<p>Our success is the result of the tireless pursuit of client satisfaction -- we believe that when you work with closely with the client during the pre-planning stages, the client can realize success.</p>

<p>Some of DPK's recent projects include first, second, third.</p>
<p>DPK Serves South-East Texas with a personal touch.</p>