<h1>Careers</h1>

<p>DPL Engineering is always looking for enthusiastic, hard-working individuals to join our team. Please review our current opportunities to determine where your skills can be best utilized, then submit your information to our Human Resources department.
</p>
<p>DPK employs professionals in the engineering, survey, construction, CAD, design, IT, marketing, and administrative fields.
</p>
<p>Current Opportunities:
	<ul>
		<li>Civil Engineers</li>
		<li>CAD</li>
	</ul>
</p>

<p>We ask that you send resumes only in MS Word DOC format, Adobe PDF format, rich text RTF format or straight text TXT format.
</p>

<p>Human Resources<br/>
DPK Engineering<br/>
Office/Fax:  281-346-2616<br/>
Mobile:  281-300-1869<br/>
<a href="mailto:david.kelly@dpkengineering.com?subject='from dpk website'">david.kelly@dpkengineering.com</a>
</p>

<p>If you do not see a position that fits your experience and capabilities , you may email your resume to <a href="mailto:david.kelly@dpkengineering.com?subject='from dpk website'">david.kelly@dpkengineering.com</a> to be considered for future opportunities.</p>