	<h1>DPK Engineering</h1>
	
	<p>We believe that a close productive relationship with the client is the best way to build businesses -- both ours and yours. That's why at DPK Engineering, you'll receive the personal touch that is lacking in some business deals.</p>
	<p>Through proper preparation and planing, we will help guide you through building out your land development project. We do projects in Tomball, Conroe, Magnolia and Houston.</p>

	<p>For more information, you can call David P. Kelly II, P.E., the President of DPK Engineering, or visit the full <a href="/contact">DPK Engineering Contact section</a>. Also read more <a href="/about">About DPK</a>, our <a href="/services">Services</a> and possible <a href="/careers">careers</a>.</p>