<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%
  path_without_slash = request.path_info
  path_without_slash.slice!(0)
%>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= "#{path_without_slash.capitalize} | " if request.path_info != ""%>DPK Engineering<% if request.path_info == ''%> | South-East Texas Land Development<% end %></title>
<% if false == true%>
	<% if path_without_slash == ''%><meta name="description" content="Knight Irrigation and Lawn is a full-service irrigation and lawn maintence company that specializes in the installation and repair of sprinkler systems."/><% end %>
<% end %>

<link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />

<script language="JavaScript" src="/javascripts/jquery-1.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/jquery.lightbox-0.5.css" media="screen" /><script type="text/javascript" src="javascript/jquery.js"></script> 
<script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.js"></script> 


<script type="text/javascript">
$(function() {
	$('a.lightbox').lightBox();
});
</script>


</head>

<body>
<div id="wrap">

<div id="header">
<div class="wrap">
    <a  href="/"><img src="/images/dpk-engineering-logo.png" id="logo" border="0"></a>
    <ul id="menu">
		 <%
	        	[ "about", "services", "careers", "contact" ].each do |route| %>
	        	<%=nav_active(route, path_without_slash)%>
	        	<%end%>
    </ul><!-- end #menu -->
</div><!-- end .wrap -->    
</div><!-- end #header -->
    
<div class="wrap">

	<% if path_without_slash == ''%>
	<div id="banner">
    	<h2><em>Building our communities where our families live, work, and play</em></h2>
    </div><!-- end #banner -->
	<% end %>
	
	<div id="sidebar">
    
    	<div class="whatido">
          <h2><span class="h2"></span>What We Do</h2>
          <div class="hr"></div>
          <div class="box"><div class="top"><div class="bottom"><div class="bg">
          	<p>I predominately do Land Development which means that I am hired to landplan and design land for development. Sometimes it is a commercial site like a bank or a dairy queen and sometimes it is for an entire subdivision."</p>
          </div></div></div></div><!-- end .box -->
    </div><!-- end .whatido -->  
        
        <div class="recent">
          <h2><span class="h2"></span>Recent Projects</h2>
          <div class="hr"></div>
          <a href="images/gallery/dubai.jpg" class="lightbox" title="Dubai Tree Planning"><img border="0" src="images/gallery/dubai-thumb.jpg" alt="Dubai Tree Planning" /></a>
          <a href="images/gallery/fountain.jpg" class="lightbox" title=""><img border="0" src="images/gallery/fountain-thumb.jpg" alt="image" /></a>
          <br  class="clear" />
          <a href="images/gallery/master.jpg" class="lightbox" title=""><img border="0" src="images/gallery/master-thumb.jpg" alt="image" /></a>
          <a href="images/gallery/plan.jpg" class="lightbox" title=""><img border="0" src="images/gallery/plan-thumb.jpg" alt="image" /></a>
        </div><!-- end .recent -->  
              
    </div><!-- end #sidebar -->    
    
    <div id="body"><div class="top"><div class="bottom">
    <%= yield %>
    </div></div></div><!-- end #body -->
    
    <br class="clear" />
    
</div><!-- end .wrap -->

</div><!-- end #wrap -->

<div id="footer">&copy; Copyright DPK Engineering LLC 2009, all rights reserved</div><!-- end #footer -->

<script src="/javascripts/supersleight.plugin.js"></script>
<script>$('#logo').supersleight({shim: '/images/transparent.gif'});
</script>

</body>
</html>
