<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap">

<div id="header">
<div class="wrap">
    <a id="logo" href="index.html"></a>
    <ul id="menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul><!-- end #menu -->
</div><!-- end .wrap -->    
</div><!-- end #header -->
    
<div class="wrap">

	<div id="banner">
    	<h2>A photo and/or a slogan would look nice here. <br />Otherwise this space can be removed.</h2>
    </div><!-- end #banner -->

	<div id="sidebar">
    
    	<div class="whatido">
          <h2><span class="h2"></span>What We Do</h2>
          <div class="hr"></div>
          <div class="box"><div class="top"><div class="bottom"><div class="bg">
          	<p>I predominately do Land Development which means that I am hired to landplan and design land for development. Sometimes it is a commercial site like a bank or a dairy queen and sometimes it is for an entire subdivision."</p>
          </div></div></div></div><!-- end .box -->
    </div><!-- end .whatido -->  
        
        <div class="recent">
          <h2><span class="h2"></span>Recent Projects</h2>
          <div class="hr"></div>
          <a href="#"><img border="0" src="images/img.jpg" alt="image" /></a>
          <a href="#"><img border="0" src="images/img.jpg" alt="image" /></a>
          <br  class="clear" />
          <a href="#"><img border="0" src="images/img.jpg" alt="image" /></a>
          <a href="#"><img border="0" src="images/img.jpg" alt="image" /></a>
        </div><!-- end .recent -->  
              
    </div><!-- end #sidebar -->    
    
    <div id="body"><div class="top"><div class="bottom">
    
    	<h1>Heading</h1>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
    </div></div></div><!-- end #body -->
    
    <br class="clear" />
    
</div><!-- end .wrap -->

</div><!-- end #wrap -->

<div id="footer">&copy; Copyright DPK Engineering 2009</div><!-- end #footer -->

</body>
</html>
